.card-detalis {
    height: 370px;
    border-radius: 20px;
    background-color: black;
}

.img-cont{
    background-color: #141414 !important;
}
.img-movie {
    height: 360px;
    padding: 10px;
    border-radius: 20px;
}

.card-text-details {
    color: white;
    font-family: Almarai;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 49px;
    font-weight: 500;

}

.movie-detail-red {
    color: red;
    font-weight: normal;

}



.card-text-title {
    color: #555555;
    font-family: Almarai;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 49px;
}

.card-story {
    // height: 300px;
    border-radius: 20px;
    background-color: #000000;
    text-align: center;
    padding: 15px;
    margin-bottom: 9px;
}

.story-title {
    color: red;
    font-weight: 700;
}
.card-text-story {
    color: white;
    font-family: Almarai;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: justify;
}

.movi-buttons{
    background-color: red !important;
    border: 2px solid black !important;
    color: black !important;
    font-size: 19px !important;
    font-weight: 700 !important;
    width: 150px;
    height: 47px;
    margin-top: 5px;


    &:hover{
    background-color: black !important;
    border: 2px solid red !important;
    color: white !important;
    transition: 0.5s;


    }
}